[Desktop Entry]
Encoding=UTF-8
Name=antiX FAQ
Name[ar]=تعليمات
Name[bg]=Помощ
Name[ca_ES]=Ajuda
Name[cs]=Nápověda
Name[da]=Hjælp
Name[de]=antiX »Fragen & Antworten«
Name[el]=Βοήθεια
Name[es]=Ayuda
Name[et]=Abi
Name[eu]=Laguntza
Name[fa]=راهنما
Name[fi]=Ohje
Name[fr]=Aide
Name[hi]=सहायता
Name[hr]=Pomoć
Name[hu]=Súgó
Name[is]=Hjálp
Name[it]=FAQ di antiX
Name[ja]=ヘルプ
Name[ko]=도움말
Name[lt]=Pagalba
Name[mk]=Помош
Name[nb]=Hjelp
Name[nl]=Help
Name[pl]=Pomoc
Name[pt]=Ajuda do antiX
Name[pt_BR]=Ajuda do antiX
Name[ro]=Ajutor
Name[ru]=Справка
Name[sk]=Pomocník
Name[sl]=Pomoč
Name[sq]=Ndihmë
Name[sr]=Помоћ
Name[sv]=Hjälp
Name[tr]=Yardım
Name[uk]=Довідка
Name[zh_CN]=帮助
Name[zh_TW]=說明
Comment=FAQ about antiX
Comment[pt]=Perguntas e Respostas
Comment[pt_BR]=Perguntas Frequentes Sobre o antiX
Exec=dillo /usr/share/antiX/FAQ/index.html 
Icon=help-browser
Terminal=false
Type=Application
Categories=System;
NoDisplay=True
Comment[zh_TW]=關於antiX的FAQ
Comment[zh_CN]=关于antiX的FAQ
Comment[yo]=FAQ nipa antiX
Comment[yi]=FAQ סקיטנאַ ןגעוו
Comment[xh]=FAQ malunga ne-antiX
Comment[vi]=Câu hỏi thường gặp về antiX
Comment[uz]=AntiX haqida tez-tez so'raladigan savollar
Comment[ur]=ﺕﻻ﻿ﺍﻮﺳ ﮯﺌﮔ ﮯﮭﭼﻮﭘ ﺮﺜﮐﺍ ﮟﯿﻣ ﮮﺭﺎﺑ ﮯﮐ ﺲﮑﯾﺍ ﯽﭩﻨﯾﺍ
Comment[uk]=Поширені запитання про antiX
Comment[ug]=AntiX ﺭﻼ﻿ﻟﺎﺋﻮﺳ ﻰﻜﯨﺪﯩﻘﻗەﮬ
Comment[tt]=AntiX турында сораулар
Comment[tr]=antiX hakkında SSS
Comment[tk]=AntiX hakda soraglar
Comment[th]=คำถามที่พบบ่อยเกี่ยวกับ antiX
Comment[tg]=Саволҳо оид ба antiX
Comment[te]=యాంటీఎక్స్ గురించి తరచుగా అడిగే ప్రశ్నలు
Comment[ta]=ஆன்டிஎக்ஸ் பற்றி அடிக்கடி கேட்கப்படும் கேள்விகள்
Comment[sw]=Maswali Yanayoulizwa Mara kwa Mara kuhusu antiX
Comment[sv]=Vanliga frågor om antiX
Comment[su]=FAQ ngeunaan antiX
Comment[st]=FAQ ka antiX
Comment[sr]=Честа питања о антиКс
Comment[sq]=FAQ rreth antiX
Comment[so]=FAQ ku saabsan antiX
Comment[sn]=FAQ nezve antiX
Comment[sm]=FAQ e uiga ile antiX
Comment[sl]=Pogosta vprašanja o antiX
Comment[sk]=Časté otázky o antiX
Comment[si]=antiX ගැන නිතර අසන ප්u200dරශ්න
Comment[sd]=FAQ ﺲڪﻳﺍ ﻲٽﻨﻳﺍ ﺖﺑﺎﺑ
Comment[rw]=Ibibazo bijyanye na antiX
Comment[ru]=FAQ по antiX
Comment[ro]=Întrebări frecvente despre antiX
Comment[ps]=FAQ ﻩړﺍ ﻪﭘ ﺲﮑﯾﺍ ﻲټﻧﺍ ﺩ
Comment[pl]=Często zadawane pytania dotyczące antyX
Comment[pa]=ਐਂਟੀਐਕਸ ਬਾਰੇ ਅਕਸਰ ਪੁੱਛੇ ਜਾਂਦੇ ਸਵਾਲ
Comment[or]=ଆଣ୍ଟିଏକ୍ସ ବିଷୟରେ FAQ |
Comment[ny]=Mafunso okhudza antiX
Comment[nb]=Vanlige spørsmål om antiX
Comment[nl]=Veelgestelde vragen over antiX
Comment[ne]=AntiX को बारे मा सोधिने प्रश्न
Comment[my]=antiX အကြောင်း FAQ
Comment[mt]=FAQ dwar antiX
Comment[ms]=Soalan Lazim tentang antiX
Comment[mr]=antiX बद्दल वारंवार विचारले जाणारे प्रश्न
Comment[mn]=AntiX-ийн талаархи түгээмэл асуултууд
Comment[ml]=ആന്റിഎക്സിനെക്കുറിച്ചുള്ള പതിവ് ചോദ്യങ്ങൾ
Comment[mk]=Најчесто поставувани прашања за antiX
Comment[mi]=FAQ mo antiX
Comment[mg]=FAQ momba ny antiX
Comment[lv]=FAQ par antiX
Comment[lt]=DUK apie antiX
Comment[lo]=FAQ ກ່ຽວກັບ antiX
Comment[lb]=FAQ iwwer AntiX
Comment[ky]=antiX жөнүндө көп берилүүчү суроолор
Comment[ku]=FAQ di derbarê antiX de
Comment[ko]=안티엑스에 대한 FAQ
Comment[kn]=antiX ಬಗ್ಗೆ FAQ
Comment[km]=សំណួរគេសួរញឹកញាប់អំពី antiX
Comment[kk]=AntiX туралы жиі қойылатын сұрақтар
Comment[ka]=ხშირად დასმული კითხვები antiX-ის შესახებ
Comment[jv]=FAQ babagan antiX
Comment[ja]=antiXに関するFAQ
Comment[it]=FAQ su antiX
Comment[is]=Algengar spurningar um antiX
Comment[id]=FAQ tentang antiX
Comment[hy]=ՀՏՀ antiX-ի մասին
Comment[hu]=GYIK az antiX-ről
Comment[ht]=FAQ sou antiX
Comment[hr]=Često postavljana pitanja o antiX-u
Comment[hi]=एंटीएक्स के बारे में अक्सर पूछे जाने वाले प्रश्न
Comment[he]=antiX יבגל תוצופנ תולאש
Comment[haw]=FAQ e pili ana i ka antiX
Comment[ha]=FAQ game da antiX
Comment[gu]=એન્ટિએક્સ વિશે વારંવાર પૂછાતા પ્રશ્નો
Comment[gl]=Preguntas frecuentes sobre antiX
Comment[gd]=Ceistean Cumanta mu antiX
Comment[ga]=Ceisteanna Coitianta faoi antiX
Comment[fy]=FAQ oer antiX
Comment[fr_BE]=Foire aux questions à propos d'antiX
Comment[fr]=Foire aux questions à propos d'antiX
Comment[fil]=FAQ tungkol sa antiX
Comment[fi]=Usein kysyttyä antiX:stä
Comment[fa]=ﺲﮑﯾﺍ ﯽﺘﻧﺁ ﺩﺭﻮﻣ ﺭﺩ ﻝﻭﺍﺪﺘﻣ ﺕﻻ﻿ﺍﻮﺳ
Comment[eu]=antiX-ri buruzko ohiko galderak
Comment[et]=KKK antiX kohta
Comment[es]=Preguntas frecuentes sobre antiX
Comment[eo]=Oftaj Demandoj pri antiX
Comment[el]=Συχνές ερωτήσεις σχετικά με το antiX
Comment[de]=Sammlung von Antworten auf häufig vorkommende Fragen zu antiX
Comment[da]=FAQ om antiX
Comment[cy]=Cwestiynau Cyffredin am antiX
Comment[cs]=FAQ o antiX
Comment[co]=FAQ su antiX
Comment[ceb]=FAQ bahin sa antiX
Comment[ca]=Preguntes freqüents sobre antiX
Comment[bs]=FAQ o antiX-u
Comment[bn]=অ্যান্টিএক্স সম্পর্কে প্রায়শই জিজ্ঞাসিত প্রশ্নাবলী
Comment[bg]=Често задавани въпроси за antiX
Comment[be]=Частыя пытанні аб antiX
Comment[ar]=antiX ﻝﻮﺣ ﺔﺑﻮﺟﺃﻭ ﺔﻠﺌﺳﺃ
Comment[am]=ስለ antiX የሚጠየቁ ጥያቄዎች
Comment[af]=Gereelde vrae oor antiX
Name[yi]=FAQ סקיטנאַ
Name[vi]=Câu hỏi thường gặp về antiX
Name[uz]=antiX tez-tez so'raladigan savollar
Name[ur]=FAQ ﺲﮑﯾﺍ ﯽﭩﻨﯾﺍ
Name[ug]=antiX ﻝﺎﺋﻮﺳ
Name[tt]=antiX Сораулар
Name[tk]=antiX soraglar
Name[th]=คำถามที่พบบ่อยเกี่ยวกับ antiX
Name[tg]=Саволҳои FAQ antiX
Name[sw]=Maswali Yanayoulizwa Mara kwa Mara ya antiX
Name[su]=FAQ antiX
Name[rw]=Kurwanya Ibibazo
Name[pa]=ਐਂਟੀਐਕਸ ਅਕਸਰ ਪੁੱਛੇ ਜਾਂਦੇ ਸਵਾਲ
Name[ny]=AntiX FAQ
Name[mt]=FAQ antiX
Name[ms]=FAQ antiX
Name[mn]=antiX түгээмэл асуултууд
Name[mg]=AntiX FAQ
Name[lo]=AntiX FAQ
Name[km]=AntiX FAQ
Name[kk]=antiX ЖҚС
Name[jv]=AntiX FAQ
Name[id]=FAQ antiX
Name[hy]=antiX ՀՏՀ
Name[he]=antiX תוצופנ תולאש
Name[gl]=FAQ de antiX
Name[gd]=Ceistean Cumanta antiX
Name[ga]=Ceisteanna Coitianta antiX
Name[eo]=AntiX Oftaj Demandoj
Name[cy]=Cwestiynau Cyffredin antiX
Name[ca]=PMF d'antiX
Name[af]=antiX Gereelde Vrae
