[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=File Manager
Name[am]=የ ፋይል አስተዳዳሪ
Name[ar]=مدير الملفات
Name[ast]=Xestor de Ficheros
Name[bg]=Файлов мениджър
Name[bn]=ফাইল ম্যানেজার
Name[ca]=Gestor de fitxers
Name[cs]=Správce souborů
Name[da]=Filhåndtering
Name[de]=Dateiverwaltung
Name[el]=Διαχειριστής αρχείων
Name[en_GB]=File Manager
Name[es]=Administrador de archivos
Name[et]=Failihaldur
Name[eu]=Fitxategi kudeatzailea
Name[fi]=Tiedostonhallinta
Name[fr]=Gestionnaire de fichiers
Name[gl]=Xestor de ficheiros
Name[he]=מנהל קבצים
Name[hr]=Upravitelj datoteka
Name[hu]=Fájlkezelő
Name[id]=Manajer Berkas
Name[it]=Gestore dei file
Name[ja]=ファイルマネージャー
Name[kk]=Файлдар басқарушысы
Name[ko]=파일 관리자
Name[lt]=Failų tvarkyklė
Name[lv]=Faila pārvaldnieks
Name[nb]=Filbehandler
Name[nl]=Bestandbeheerder
Name[nn]=Filhandsamar
Name[pa]=ਫਾਇਲ ਮੈਨੇਜਰ
Name[pl]=Menedżer plików
Name[pt]=Gestor de Ficheiros da Sessão
Name[pt_BR]=Gerenciador de Arquivos
Name[ro]=Manager de fișiere
Name[ru]=Файловый менеджер
Name[sk]=Správca súborov
Name[sr]=Управник датотека
Name[sv]=Filhanterare
Name[tr]=Dosya Yöneticisi
Name[ug]=ھۆججەت باشقۇرغۇ
Name[uk]=Файловий менеджер
Name[zh_CN]=文件管理器
Name[zh_TW]=檔案管理員
Comment=File Manager
Comment[pt]=Abre o gestor de ficheiros predefinido da sessão
Comment[pt_BR]=Abre o gerenciador de arquivos padrão da sessão
Icon=user-home
Categories=Settings;
Exec=desktop-defaults-run -fm
Terminal=false
NoDisplay=True
Comment[zh_TW]=文件管理器
Comment[zh_CN]=文件管理器
Comment[yo]=Oluṣakoso faili
Comment[yi]=רעגאַנאַמ עקעט
Comment[xh]=Umphathi weFayile
Comment[vi]=Quản lý tập tin
Comment[uz]=Fayl menejeri
Comment[ur]=ﺮﺠﯿﻨﯿﻣ ﻞﺋﺎﻓ
Comment[uk]=Файловий менеджер
Comment[ug]=ﭺﯘﻏﺭﯘﻘﺷﺎﺑ ﺕەﺠﺟﯚﮬ
Comment[tt]=Файл менеджеры
Comment[tr]=Dosya Yöneticisi
Comment[tk]=Faýl dolandyryjysy
Comment[th]=ตัวจัดการไฟล์
Comment[tg]=Менеҷери файл
Comment[te]=ఫైల్ మేనేజర్
Comment[ta]=கோப்பு மேலாளர்
Comment[sw]=Kidhibiti faili
Comment[sv]=Filhanterare
Comment[su]=Pangatur file
Comment[st]=Motsamaisi oa faele
Comment[sr]=Филе Манагер
Comment[sq]=Menaxheri i skedarëve
Comment[so]=Maareeyaha faylka
Comment[sm]=Pule o faila
Comment[sl]=Upravitelj datotek
Comment[sk]=Správca súborov
Comment[si]=ගොනු කළමනාකරු
Comment[sd]=ﺮﺠﻴﻨﺌﻣ ﻞﺋﺎﻓ
Comment[rw]=Umuyobozi wa dosiye
Comment[ru]=Файловый менеджер
Comment[ro]=Manager de fișiere
Comment[ps]=ﯽﮑﻧﻭﻮﮐ ﻢﻈﻨﻣ ﻮﻠﯾﺎﻓ ﺩ
Comment[pl]=Menedżer plików
Comment[pa]=ਫਾਈਲ ਮੈਨੇਜਰ
Comment[or]=ଫାଇଲ୍ ମ୍ୟାନେଜର୍ |
Comment[ny]=Woyang'anira Fayilo
Comment[nb]=Filbehandler
Comment[nl]=Bestandsbeheer
Comment[ne]=फाइल प्रबन्धक
Comment[my]=ဖိုင်မန်နေဂျာ
Comment[ms]=Pengurus Fail
Comment[mr]=फाइल व्यवस्थापक
Comment[mn]=Файл менежер
Comment[ml]=ഫയൽ മാനേജർ
Comment[mk]=Менаџер на датотеки
Comment[mi]=Kaiwhakahaere Kōnae
Comment[lv]=Failu menedžeris
Comment[lt]=Failų tvarkyklė
Comment[lo]=ຜູ້ຈັດການໄຟລ໌
Comment[lb]=Datei Manager
Comment[ky]=Файл менеджери
Comment[ku]=Rêveberê Pelê
Comment[ko]=파일 관리자
Comment[kn]=ಕಡತ ನಿರ್ವಾಹಕ
Comment[km]=កម្មវិធីu200bគ្រប់u200bគ្រងu200bឯកសារ
Comment[kk]=Файл менеджері
Comment[ka]=Ფაილის მენეჯერი
Comment[jv]=Pangatur file
Comment[ja]=ファイルマネージャー
Comment[is]=Skráasafn
Comment[id]=Manajer File
Comment[hy]=Ֆայլերի կառավարիչ
Comment[hu]=Fájl kezelő
Comment[ht]=Manadjè File
Comment[hr]=Upravitelj datotekama
Comment[hi]=फ़ाइल प्रबंधक
Comment[he]=םיצבק להנמ
Comment[haw]=Luna waihona
Comment[ha]=Mai sarrafa Fayil
Comment[gu]=ફાઇલ મેનેજર
Comment[gl]=Xestor de ficheiros
Comment[gd]=Manaidsear faidhle
Comment[ga]=Bainisteoir Comhad
Comment[fy]=Triembehearder
Comment[fr_BE]=Gestionnaire de fichiers
Comment[fr]=Gestionnaire de fichiers
Comment[fil]=Tagapamahala ng File
Comment[fi]=Tiedostonhallinta
Comment[fa]=ﻞﯾﺎﻓ ﺮﯾﺪﻣ
Comment[eu]=Fitxategien kudeatzailea
Comment[et]=Failihaldur
Comment[es]=Administrador de archivos
Comment[eo]=Dosiera Administranto
Comment[el]=Διαχείριση αρχείων
Comment[de]=Dateiverwaltung
Comment[da]=Filhåndtering
Comment[cy]=Rheolwr Ffeiliau
Comment[cs]=Správce souborů
Comment[ca]=Gestor d'arxius
Comment[bn]=নথি ব্যবস্থাপক
Comment[bg]=Файлов мениджър
Comment[be]=Файлавы менеджэр
Comment[ar]=ﺕﺎﻔﻠﻤﻟﺍ ﺮﻳﺪﻣ
Comment[am]=የፋይል አስተዳዳሪ
Comment[af]=Lêer bestuurder
Name[yo]=Oluṣakoso faili
Name[yi]=רעגאַנאַמ עקעט
Name[xh]=Umphathi weFayile
Name[vi]=Quản lý tập tin
Name[uz]=Fayl menejeri
Name[ur]=ﺮﺠﯿﻨﯿﻣ ﻞﺋﺎﻓ
Name[tt]=Файл менеджеры
Name[tk]=Faýl dolandyryjysy
Name[th]=ตัวจัดการไฟล์
Name[tg]=Менеҷери файл
Name[te]=ఫైల్ మేనేజర్
Name[ta]=கோப்பு மேலாளர்
Name[sw]=Kidhibiti faili
Name[su]=Pangatur file
Name[st]=Motsamaisi oa faele
Name[sq]=Menaxheri i skedarëve
Name[so]=Maareeyaha faylka
Name[sm]=Pule o faila
Name[sl]=Upravitelj datotek
Name[si]=ගොනු කළමනාකරු
Name[sd]=ﺮﺠﻴﻨﺌﻣ ﻞﺋﺎﻓ
Name[rw]=Umuyobozi wa dosiye
Name[ps]=ﯽﮑﻧﻭﻮﮐ ﻢﻈﻨﻣ ﻮﻠﯾﺎﻓ ﺩ
Name[or]=ଫାଇଲ୍ ମ୍ୟାନେଜର୍ |
Name[ny]=Woyang'anira Fayilo
Name[ne]=फाइल प्रबन्धक
Name[my]=ဖိုင်မန်နေဂျာ
Name[ms]=Pengurus Fail
Name[mr]=फाइल व्यवस्थापक
Name[mn]=Файл менежер
Name[ml]=ഫയൽ മാനേജർ
Name[mk]=Менаџер на датотеки
Name[mi]=Kaiwhakahaere Kōnae
Name[lo]=ຜູ້ຈັດການໄຟລ໌
Name[lb]=Datei Manager
Name[ky]=Файл менеджери
Name[ku]=Rêveberê Pelê
Name[kn]=ಕಡತ ನಿರ್ವಾಹಕ
Name[km]=កម្មវិធីu200bគ្រប់u200bគ្រងu200bឯកសារ
Name[ka]=Ფაილის მენეჯერი
Name[jv]=Pangatur file
Name[is]=Skráasafn
Name[hy]=Ֆայլերի կառավարիչ
Name[ht]=Manadjè File
Name[hi]=फ़ाइल प्रबंधक
Name[haw]=Luna waihona
Name[ha]=Mai sarrafa Fayil
Name[gu]=ફાઇલ મેનેજર
Name[gd]=Manaidsear faidhle
Name[ga]=Bainisteoir Comhad
Name[fy]=Triembehearder
Name[fr_BE]=Gestionnaire de fichiers
Name[fil]=Tagapamahala ng File
Name[fa]=ﻞﯾﺎﻓ ﺮﯾﺪﻣ
Name[eo]=Dosiera Administranto
Name[cy]=Rheolwr Ffeiliau
Name[be]=Файлавы менеджэр
Name[af]=Lêer bestuurder
